__pycache__
/__pycache__
.__pycache__

checkpoints
/checkpoints
checkpoints

data
.data
/data


.resize
resize
/resize

result
.result
/result


tensorboard
/tensorboard
.tensorboard

AnnoToPng
.AnnoToPng
/AnnoToPng
